%row
  .col-md-8.offset-md-2
    %section

      .post-body
      = image_tag @post.image.url(:large), class: 'img-show' if @post.image?
      %br
      .container
        %strong
          &emsp;
        = image_tag @post.user.avatar.url(:thumb), class:'avatar-small' if @post.user.avatar?
        = link_to @post.user.username, user_path(@post.user_id), class:'active btn btn-default btn-md'
        %strong
          =@post.title
        %p
          %strong
            &emsp; &emsp; &emsp;  &emsp;  &emsp;  &emsp;  &emsp;
          = @post.content
      .cccenter
        %div{id: "like-for-post-#{@post.id}"}
          = render(partial: 'posts/partials/like_template', locals: { post: @post })
        = time_ago_in_words(@post.created_at) + ' ago'
    %small
      - if current_user && current_user.id == @post.user_id
        = link_to 'Изменить', edit_post_path(@post), class:""
        = link_to 'Удалить', post_path(@post), method: :delete, data: { confirm: 'Вы уверены?' }

