!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Insta
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.fafafa
    %nav.navbar.navbar-expand-lg.navbar-light.bg.wgtt.static-top
      %a.navbar-brand.fa.fa-camera-retro.fa-lg.ee{:href => posts_path} / Insta
      %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      %ul.navbar-nav.ml-auto.eee
        - if user_signed_in?
          %li
            = link_to('Edit user', edit_user_path(current_user), class: 'nav-link')
          %li
          = link_to 'New post', new_post_path, class:'nav-link'
          = link_to user_path(current_user) do
            = image_tag current_user.avatar.url(:thumb), class: 'avatar-small' if current_user.avatar?
          %li
            = link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link'
        - else
          %li
            %a.nav-link.active.eee{:href => new_user_session_path} Sign Up / Log in
    .container
      = yield

